<%= render Kore::ApplicationComponent.new(**@options) do %>
  <% if @left_icon %>
    <%= heroicon @left_icon, options: { class: icon_classes }  %>
  <% end %>

  <% if normal? %>
      <%= @text || content %>
    <% else %>
      <span class="sr-only"> <%= @text %></span>
    <% end %>
    <% if @right_icon %>
      <%= heroicon @right_icon, options: { class: icon_classes }  %>
    <% end %>
  <% end %>

